<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
      <h2>過去の利用者一覧</h2>
    </div>
    <div class="col-sm-6">
      <div class="search">
        <%= form_tag(search_admin_customers_path, :method => 'get') do %>
          <%= text_field_tag :search %>
          <%= submit_tag '検索', :name => nil %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="list">
        <ul>
          <% @customers.each do |customer| %>
          <li>
            <%= link_to admin_customer_path(customer) do %>
              <%= customer.full_name %>
            <% end %>
          <% end %>
          </li>
        </ul>
          <%= paginate @customers %>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>