<h2>新規利用者　入力</h2>

<%= form_with model: @customer, url: admin_customers_path, local: true do |customer| %>
  <h5>氏名</h5>
    姓<%= customer.text_field :first_name %>
    名<%= customer.text_field :last_name %>

  <h5>フリガナ</h5>
    セイ<%= customer.text_field :first_name_kana %>
    メイ<%= customer.text_field :last_name_kana %>

  <h5>在籍ステータス</h5>
    <% Customer.is_deleteds.each do |is_deleted| %>
      <div class="form-check">
        <%= customer.radio_button :is_deleted, is_deleted[0], class: "form-check-input" %>
        <%= customer.label is_deleted[0], class: "form-check-label" %>
      </div>
    <% end %>

  <%= customer.submit "新規登録", class:"btn btn-primary col-xs-12" %>

<% end %>