<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-4 col-sm-offset-2">
      <h2>スタッフ情報　編集</h2>
    </div>
    <div class="col-sm-4"></div>
  </div>

    <%= form_with model: @staff_member, url: admin_staff_member_path, local: true do |staff_member| %>
      <div class="form-group">
        <div class="col-sm-1"></div>
        <label class="col-sm-3 control-label">氏名</label>
        <div class="col-sm-3">
          <%= staff_member.text_field :first_name, :placeholder =>"姓" %>
        </div>
        <div class="col-sm-3">
          <%= staff_member.text_field :last_name, :placeholder =>"名" %>
        </div>
        <div class="col-sm-2"></div>
      </div>
      <div class="form-group">
        <div class="col-sm-1"></div>
        <label class="col-sm-3 control-label">フリガナ</label>
        <div class="col-sm-3">
          <%= staff_member.text_field :first_name_kana, :placeholder =>"セイ" %>
        </div>
        <div class="col-sm-3">
          <%= staff_member.text_field :last_name_kana, :placeholder =>"メイ" %>
        </div>
        <div class="col-sm-2"></div>
      </div>
      <div class="form-group">
        <div class="col-sm-1"></div>
          <label class="col-sm-3 control-label">郵便番号</label>
          <div class="col-sm-3">
            <%= staff_member.text_field :postal_code %>
          </div>
        </div>
      </div>
        <th>
          住所
        </th>
        <th>
          <%= staff_member.text_field :address %>
        </th>
      </tr>
      <tr>
        <th>
          メールアドレス
        </th>
        <th>
          <%= staff_member.text_field :email %>
        </th>
      </tr>
      <tr>
        <th>
          電話番号
        </th>
        <th>
          <%= staff_member.text_field :telephone_number %>
        </th>
      </tr>
      <%= staff_member.submit "変更", class:"btn btn-primary" %>
    <% end %>
  </tbody>
</table>