<h2>スタッフ情報　詳細</h2>

<table>
  <tbody>
    <tr>
      <th>
        氏名
      </th>
      <th>
        <%= @staff_member.full_name %>
      </th>
    </tr>
    <tr>
      <th>
        フリガナ
      </th>
      <th>
        <%= @staff_member.full_name_kana %>
      </th>
    </tr>
    <tr>
      <th>
        郵便番号
      </th>
      <th>
        <%= @staff_member.postal_code %>
      </th>
    </tr>
    <tr>
      <th>
        住所
      </th>
      <th>
        <%= @staff_member.address %>
      </th>
    </tr>
    <tr>
      <th>
        メールアドレス
      </th>
      <th>
        <%= @staff_member.email %>
      </th>
    </tr>
    <tr>
      <th>
        電話番号
      </th>
      <th>
        <%= @staff_member.telephone_number %>
      </th>
    </tr>
  </tbody>
  <%= link_to "情報編集", edit_admin_staff_member_path(@staff_member) %>
  <%= link_to "アカウント削除", admin_staff_member_path(@staff_member), method: :delete %>
</table>