<h2><%= @meal_records.customer.full_name %>様</h2>

<%= form_with model: @meal_records, url: staff_member_meal_record_path, method: :patch, local: true do |meal_record| %>
    <%= meal_record.label :朝食, class: 'control-label' %>
    <%= meal_record.text_field :breakfast_main_amount, size: 3 %>
    ／
    <%= meal_record.text_field :breakfast_side_amount, size: 3 %>

    <%= meal_record.label :昼食, class: 'control-label' %>
    <%= meal_record.text_field :lunch_main_amount, size: 3 %>
    ／
    <%= meal_record.text_field :lunch_side_amount, size: 3 %>

    <%= meal_record.label :夕食, class: 'control-label' %>
    <%= meal_record.text_field :dinner_main_amount, size: 3 %>
    ／
    <%= meal_record.text_field :dinner_side_amount, size: 3 %>

    <%= meal_record.label :水分量, class: 'control-label' %>
    <%= meal_record.text_field :water_amount, size: 3 %>

    <%= meal_record.submit "食事量・水分量更新", class:"btn btn-primary" %>

<% end %>