<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1 col-md-3"></div>
    <div class="col-sm-10 col-md-6">
      <h2><%= @customer.full_name %>様 食事量・水分量記録　入力</h2>
    </div>
    <div class="col-sm-1 col-md-3"></div>
  </div>

    <%= form_with model: @meal_record, url: staff_member_new_staff_member_meal_record_path, method: :post, local: true, class: "form-horizontal" do |meal_record| %>
      <div class="form-group">
        <div class="col-sm-3"></div>
        <label class="col-sm-2 control-label">朝食</label>
        <div class="col-sm-4">
          <%= meal_record.text_field :breakfast_main_amount, size: 3 %>
          ／
          <%= meal_record.text_field :breakfast_side_amount, size: 3 %>
        </div>
        <div class="col-sm-3"></div>
      </div>
      <div class="form-group">
        <div class="col-sm-3"></div>
        <label class="col-sm-2 control-label">昼食</label>
        <div class="col-sm-4">
          <%= meal_record.text_field :lunch_main_amount, size: 3 %>
          ／
          <%= meal_record.text_field :lunch_side_amount, size: 3 %>
        </div>
        <div class="col-sm-3"></div>
      </div>
        <div class="form-group">
          <div class="col-sm-3"></div>
          <label class="col-sm-2 control-label">夕食</label>
          <div class="col-sm-4">
            <%= meal_record.text_field :dinner_main_amount, size: 3 %>
            ／
            <%= meal_record.text_field :dinner_side_amount, size: 3 %>
          </div>
          <div class="col-sm-3"></div>
        </div>
        <div class="form-group">
          <div class="col-sm-3"></div>
          <label class="col-sm-2 control-label">水分量</label>
          <div class="col-sm-4">
            <%= meal_record.text_field :water_amount, size: 6 %>
            ｍｌ
          </div>
          <div class="col-sm-3"></div>
        </div>

        <div class="form-group">
          <div class="col-sm-5"></div>
          <div class="col-sm-2">
            <%= meal_record.submit "食事量・水分量入力", class:"btn btn-primary" %>
          </div>
          <div class="col-sm-5"></div>
        </div>
    <% end %>
</div>