<h2><%= @customer.full_name %>様　食事量・水分量記録</h2>
<h4><%= Date.today %></h4>

<%= link_to "過去の食事量・水分量記録", staff_member_index_staff_member_meal_record_path(@customer) %>

<table class="table">
  <thead class="table table-bordered">
    <tr>
      <th>朝食</th>
      <th>昼食</th>
      <th>夕食</th>
      <th>水分量</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if @customer.meal_records.present? %>
    <tr>
      <td><%= @meal_records.breakfast_main_amount %>／<%= @meal_records.breakfast_side_amount %></td>
      <td><%= @meal_records.lunch_main_amount %>／<%= @meal_records.lunch_side_amount %></td>
      <td><%= @meal_records.dinner_main_amount %>／<%= @meal_records.dinner_side_amount %></td>
      <td><%= @meal_records.water_amount %>ｍｌ</td>
      <td><%= link_to "追加入力", edit_staff_member_meal_record_path(@meal_records) %></td>
    </tr>
    <% else %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= link_to "新規入力", staff_member_new_staff_member_meal_record_path(@customer.id) %></td>
    </tr>
    <% end %>

  </tbody>

  <%= link_to "利用者一覧へ", staff_member_customers_path %>
  <%= link_to "#{@customer.full_name} 様個人記録へ", staff_member_customer_path(@customer) %>
</table>
