<div class="container-fluid">
  <div class="row">
    <div class="col-sm-7 col-md-6 col-md-offset-1">
      <h3><%= @customer.full_name %>様　食事量・水分量記録</h3>
      <h4><%= Date.today %></h4>
    </div>
    <div class="col-sm-5 col-md-4 col-md-offset-1">
      <%= link_to "過去の食事量・水分量記録", staff_member_index_staff_member_meal_record_path(@customer), class: "btn btn-4" %></br>
      <%= link_to "#{@customer.full_name} 様個人記録へ", staff_member_customer_path(@customer), class: "btn btn-5" %>
    </div>
  </div>

      <div class="table-responsive">
        <table class="table">
          <div class="scroll">
            <thead>
              <tr>
                <th>朝食</th>
                <th>昼食</th>
                <th>夕食</th>
                <th>水分量</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% if @meal_records.present? %>
              <tr>
                <td><%= @meal_records.breakfast_main_amount %>／<%= @meal_records.breakfast_side_amount %></td>
                <td><%= @meal_records.lunch_main_amount %>／<%= @meal_records.lunch_side_amount %></td>
                <td><%= @meal_records.dinner_main_amount %>／<%= @meal_records.dinner_side_amount %></td>
                <td><%= @meal_records.water_amount %>ｍｌ</td>
                <td><%= link_to "追加入力", edit_staff_member_meal_record_path(@meal_records), class:"btn btn-success" %></td>
              </tr>
              <% else %>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><%= link_to "新規入力", staff_member_new_staff_member_meal_record_path(@customer.id), class:"btn btn-primary" %></td>
              </tr>
              <% end %>
            </tbody>
          </div>
        </table>
      </div>
</div>
