<div class="container-fluid">
  <div class="devise-title">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-3 col-sm-offset-1">
        <h2>スタッフ　ログイン</h2>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-5 col-sm-offset-1">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :パスワード %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <div class="actions">
          <%= f.submit "ログイン", class:"btn btn-primary col-sm-4" %>
        </div>
      <% end %>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
