<h2><%= @customer.full_name %>様　バイタル記録</h2>
<h4><%= Date.today %></h4>

<%= link_to "過去のバイタル記録", staff_member_vital_records_path(@customer) %>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>計測時間</th>
      <th>体温</th>
      <th>血圧</th>
      <th>心拍数</th>
      <th>SPO₂</th>
    </tr>
  </thead>
  <tbody>
    <% @vital_records.first(5).each do |vital_record| %>
    <tr>
      <td><%= vital_record.time.strftime('%H:%M') %></td>
      <td><%= vital_record.body_temperature %></td>
      <td><%= vital_record.blood_pressure_high %>／<%= vital_record.blood_pressure_low %></td>
      <td><%= vital_record.heart_rate %></td>
      <td><%= vital_record.oxygen %>％</td>
    </tr>
    <% end %>
  </tbody>
  <%= link_to "新規入力", new_staff_member_vital_record_path %>
  <%= link_to "利用者一覧へ", staff_member_customers_path %>
  <%= link_to "#{@customer.full_name} 様個人記録へ", staff_member_customer_path(@customer) %>

</table>