<div class="container-fluid">
  <div class="row">
    <div class="col-sm-7 col-md-6 col-md-offset-1">
      <h3><%= @customer.full_name %>様　経過記録</h3>
      <h4><%= Date.today %></h4>
    </div>
    <div class="col-sm-5 col-md-4 col-md-offset-1">
      <%= link_to "過去の経過記録", staff_member_path(@customer.id), class: "btn btn-4 btn-lg" %></br>
      <%= link_to "#{@customer.full_name} 様個人記録へ", staff_member_customer_path(@customer), class: "btn btn-5 btn-lg" %>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>時間</th>
        <th>内容</th>
        <th>記録者</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @progress_records.each do |progress_record| %>
      <tr>
        <td><%= progress_record.time.strftime('%H:%M') %></td>
        <td><%= simple_format(progress_record.detail) %></td>
        <td><%= progress_record.staff_member.full_name %></td>
        <td><%= link_to "編集", edit_staff_member_progress_record_path(progress_record) %></td>
        <td><%= link_to "削除", staff_member_progress_record_path(progress_record), method: :delete %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
