<h2><%= @customer.full_name %>様　経過記録</h2>
<h4><%= Date.today %></h4>

<table class="table">
  <thead class="table table-bordered">
    <tr>
      <th>時間</th>
      <th>内容</th>
      <th>記録者</th>
      <th></th>
    </tr>
  </thead>
  <today>
    <% @progress_records.each do |progress_record| %>
    <tr>
      <td><%= progress_record.time.strftime('%H:%M') %></td>
      <td><%= progress_record.detail %></td>
      <td><%= progress_record.staff_member.full_name %></td>
      <td><%= link_to "編集", edit_staff_member_progress_record_path(progress_record) %></td>
    </tr>
    <% end %>
  </today>
