<!DOCTYPE html>
<html>
  <head>
    <title>KaigoRecords</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-inverse">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <h3 class="title">Kaigo records</h3>
        </nav>

        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if admin_signed_in? %>
              <li><%=link_to "利用者一覧", admin_customers_path, class:"btn btn-info btn-block font-color" %></li>
              <li><%=link_to "スタッフ一覧", admin_staff_members_path, class:"btn btn-info btn-block font-color" %></li>
              <li><%=link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"btn btn-info btn-block font-color" %></li>

            <% elsif staff_member_signed_in? %>
              <li><%=link_to "ログアウト", destroy_staff_member_session_path, method: :delete, class:"btn btn-info btn-block font-color" %></li>

            <% else %>

            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
